<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="appConn" connectionString="Data Source=DESKTOP-47G94IE\SQLEXPRESS;Initial Catalog=Trylogyc;Integrated Security=SSPI;application name=WSTryLogyc;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
		<add key="retrievePdfFromFTP" value="true"/>
		<!--Datos Conexion Sunchales -->
		<!--add key="ftpAddress" value="ftp://200.32.52.248/PDF/"/-->
		<!--add key="ftpUser" value="ftpUser"/-->
		<!--add key="ftpPassWord" value="F4cth893"/-->
		<!--add key="ftpAddress" value="ftp://ftp.w1181780.ferozo.com/public_html/PDF/" /-->
		<!--add key="ftpUser" value="w1181780@w1181780.ferozo.com" /-->
		<!--add key="ftpPassWord" value="RUdilisu40" /-->
		<add key="ftpAddress" value="ftp://wa2.toservers.com/public_html/PDF/"/>
		<add key="ftpUser" value="marmeli1"/>
		<add key="ftpPassWord" value="MZMF5xWIfm"/>
		<add key="email" value="marceloivancich@gmail.com"/>
		<add key="password" value="N1ko20i5"/>
		<add key="site" value="Descarga Facturas Cooperativa LGSM"/>
		<add key="host" value="smtp.gmail.com"/>
		<add key="port" value="587"/>
		<add key="usedefaultcredentials" value="true"/>
		<add key="enablessl" value="true"/>
	</appSettings>
	<system.net>
		<defaultProxy enabled="false" useDefaultCredentials="false">
			<proxy/>
			<bypasslist/>
			<module/>
		</defaultProxy>
	</system.net>

	<system.web>
		<compilation targetFramework="4.6.1" debug="true"/>
		<httpRuntime requestValidationMode="2.0" requestPathInvalidCharacters="&lt;" maxRequestLength="99999" targetFramework="4.6.1" enable="true"/>
		<pages validateRequest="false" controlRenderingCompatibilityVersion="4.0"/>
	</system.web>

	<system.serviceModel>
		<services>
			<service name="WcfTrylogycWebsite.Service" behaviorConfiguration="WcfTrylogycWebsite.Service">
				<endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttp" bindingName="WcfTrylogycWebsite" contract="WcfTrylogycWebsite.IService"></endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="WcfTrylogycWebsite.Service">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<bindings>
			 <basicHttpBinding>
				 <binding name="basicHttp"></binding>
			 </basicHttpBinding>
			<!--<customBinding>
				<binding name="Binding1" receiveTimeout="10:00:00" openTimeout="10:00:00" closeTimeout="10:00:00" sendTimeout="10:00:00">
					<transactionFlow />
					--><!--<security authenticationMode="SecureConversation" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
						<secureConversationBootstrap messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" />
						<localServiceSettings issuedCookieLifetime="20:00:00" />
					</security>--><!--
					<binaryMessageEncoding maxReadPoolSize="2147483647" maxSessionSize="2147483647" maxWritePoolSize="2147483647">
						<readerQuotas maxDepth="32" maxStringContentLength="5242880" maxArrayLength="200000" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					</binaryMessageEncoding>
					<httpTransport maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647"/>
				</binding>
			</customBinding>-->
		</bindings>
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
<!--ProjectGuid: 848CEDB8-58FE-4AD0-AFF7-79C659181998-->